<html>
<body>
<form action="/imggnott" method="POST" enctype="multipart/form-data">

              <label for="image">Upload Image</label>
              <input type="file" id="image" name="image" accept="image/*" required />
                <label for="address"><br>Address: </label>
                <input type="text" id="address" name="address" cols="40" rows="5" required />

<label for="description"><br>Description: </label>
                <input type="text" id="description" name="description" cols="40" rows="5" required />

                <id="today" name="today" /> -->

            <p></p>

<button class="btnn" type="submit" onclick="window.Android.showToast('Button clicked!')">Upload File</button>

            <p><br></p>
        </form>

</body>
</html>
